<div class="jumbotron">
<center>
<%= image_tag("logo2.png", height: 150, width:500 ,:alt => "rss feed") %>
</div>
<h1>Welcome to Sjit Alumni Forrum.</h1>
 <div class="col-md-3"></div>
  <div class="col-md-5">
 <%= link_to image_tag("onlineforum.jpg", height: 300, width:500 ,:alt => "rss feed"),questions_path %>
<%= link_to questions_path, class: "btn btn-default" do %>
<center><i class="glyphicon glyphicon-ok"></i> Online Forum</center>
<% end %>
</div>


